Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)

Check for the existence before creation
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

Add github actions precommit check. (#8497)
  .github/actionlint.yaml
  .github/workflows/label-cherry-pick.yaml
  .github/workflows/lint.yaml
  .github/workflows/main.yaml
  .pre-commit-config.yaml
Due: none

media: Add BUFFER_FLAG_DECODE_ONLY Experiment
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/extension/feature_config.h
Due: clang-format, gcheckstyle

linux: Enable tests and filter blink failures
  cobalt/build/testing/targets/linux-x64x11/test_targets.json
Due: none

Update python requirements file and update steps
  cobalt/tools/python_requirements/Dockerfile
  cobalt/tools/requirements.in
  cobalt/tools/requirements.txt
Due: none

Cherry pick PR #8447: cobalt: Fix sdallocx and OPENSSL_memory symbol leaks
  starboard/tools/api_leak_detector/evergreen/dev_manifest
  starboard/tools/api_leak_detector/evergreen/manifest
  third_party/boringssl/src/crypto/mem.cc
Due: none

address gemini feedback
  cobalt/tools/python_requirements/Dockerfile
Due: none

starboard: Fix string copies in ABI wrappers
  starboard/common/BUILD.gn
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_uname_abi_wrappers.cc
Due: clang-format, gn-format

Add /pr gemini-cli command
  .gemini/commands/pr.toml
  .github/workflows/gemini-commit-message.yml
Due: none

Rebase and remvoe g_platform_event_source
  cobalt/testing/browser_tests/cobalt_browser_tests_main.cc
Due: clang-format

Add parameter for librarysha function, refactor for easier future templatization
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.h
  cobalt/browser/h5vcc_updater/public/mojom/h5vcc_updater.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
Due: clang-format

WIP changes for softfp builds to work on target platforms
  build/config/compiler/BUILD.gn
  starboard/no_platform/platform_configuration/BUILD.gn
Due: gn-format

Refactor media dependencies in Blink modules (#8528)
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
Due: gn-format

Fix: Introduce backpressure to curb mapped memory growth (#8515)
  gpu/command_buffer/client/implementation_base.cc
  gpu/command_buffer/client/mapped_memory.cc
  gpu/command_buffer/client/mapped_memory.h
  gpu/command_buffer/client/shared_memory_limits.h
Due: none

evergreen: Move updater initialization to browser (#8520)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/shell.cc
Due: clang-format, gn-format

cobalt: Refactor command-line logging and add unit test (#8534)
  cobalt/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/command_line_logger.cc
  cobalt/browser/command_line_logger.h
  cobalt/browser/command_line_logger_unittest.cc
Due: clang-format, gn-format

update names and folder
  cobalt/tools/Dockerfile.pyreq
  cobalt/tools/python_requirements/Dockerfile
  cobalt/tools/requirements.in
  cobalt/tools/requirements.txt
Due: none

Refactor media dependencies in BUILD.gn
  third_party/blink/renderer/modules/cobalt/BUILD.gn
Due: gn-format

address code scanning feedback
  cobalt/tools/Dockerfile.pyreq
Due: none

Refactor media dependencies in BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
Due: none

address code scanning issues with unpinned piptools hash
  cobalt/tools/Dockerfile.pyreq
  cobalt/tools/piptools_requirements.txt
  cobalt/tools/requirements.txt
Due: none

content/browser: Add extra tvOS targets to for_content_tests's visibility list (#8531)
  content/browser/BUILD.gn
Due: none

tvOS: Add //starboard/shared/posix/system_get_error_string.cc to the build (#8532)
  starboard/tvos/shared/BUILD.gn
Due: gn-format

cobalt/test: Fix and enable disabled browser tests
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format

Fix(cobalt): Restore shell_test_switches and update usages
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browser/shell_content_browser_test_client.cc
  cobalt/testing/browser_tests/content_browser_test_utils.cc
  cobalt/testing/browser_tests/content_browser_test_utils.h
  cobalt/testing/browser_tests/content_browser_test_utils_internal.cc
  cobalt/testing/browser_tests/content_browser_test_utils_internal.h
  cobalt/testing/browser_tests/web_contents_delegate_stub.cc
  cobalt/testing/browser_tests/web_contents_delegate_stub.h
Due: clang-format, gn-format

Change TestShell subclass ctor for Shell & remove outdated shell_test_switches_lib build deps.
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browser/test_shell.cc
Due: clang-format, gn-format

Re-add missing TODO from original Cobalt changes in M114.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format

Remove unused class.
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/web_contents_delegate_stub.cc
  cobalt/testing/browser_tests/web_contents_delegate_stub.h
Due: clang-format, gn-format

Remove unnecessary include
  cobalt/testing/browser_tests/browser/shell_content_browser_test_client.cc
Due: clang-format

fix(testing): Initialize StarboardBridge and fix dependencies for browser tests
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentBrowserTestsApplication.java
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentShellBrowserTestActivity.java
Due: gcheckstyle

Refactor Android test view setup and fix permission error
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/java/res/layout/shell_view.xml
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browsertests_apk/res/layout/test_activity.xml
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentBrowserTestsActivity.java
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentShellBrowserTestActivity.java
Due: gcheckstyle, gn-format

Fix CI failures
  cobalt/testing/browser_tests/BUILD.gn
Due: gn-format

Create separate fake_graphics_context_provider build target
  starboard/nplb/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/testing/BUILD.gn
Due: gn-format

Fix AD_ID build config. Previously included the AD_ID in both configs. Now it is only present inside of cobalt/shell and not cobalt browser test manifest.
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/javatests/AndroidManifest.xml
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
Due: gn-format

[WIP] 3p: Add format support to nl_langinfo
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/nl_langinfo_support.cc
  cobalt/common/libc/locale/nl_langinfo_support.h
  starboard/nplb/posix_compliance/posix_locale_langinfo_test.cc
  starboard/nplb/posix_compliance/posix_locale_langinfo_test_data.cc.inc
Due: clang-format

Disable failing test case in navigation_browsertest.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format

Fix string copies in the wrappers (#8526)
  starboard/common/BUILD.gn
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_uname_abi_wrappers.cc
Due: clang-format, gn-format

get rid of dockerfile ew
  cobalt/tools/Dockerfile.pyreq
  cobalt/tools/piptools_requirements.txt
  cobalt/tools/requirements.in
Due: none
