Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Refactor IP checks for custom cobalt CSP directive
  third_party/blink/renderer/core/frame/csp/local_ip.cc
Due: none

remove notreached check
  third_party/blink/renderer/core/frame/csp/local_ip.cc
Due: none

fix check to account for 6to4 and IPv4-mapped
  third_party/blink/renderer/core/frame/csp/local_ip.cc
Due: none

Decouple job_thread target from common_player_sources
  starboard/android/shared/BUILD.gn
  starboard/darwin/tvos/shared/BUILD.gn
  starboard/linux/shared/BUILD.gn
  starboard/nplb/BUILD.gn
  starboard/raspi/shared/BUILD.gn
  starboard/shared/starboard/player/BUILD.gn
  starboard/shared/starboard/player/buildfiles.gni
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/tvos/shared/BUILD.gn
Due: gn-format

android: prevent network dialog flash on cold start
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltConnectivityDetector.java
Due: gcheckstyle

Fix syscall implementation for arm64 builds
  starboard/elf_loader/exported_symbols.cc
  starboard/no_platform/platform_configuration/configuration.gni
  starboard/shared/modular/cobalt_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/cobalt_layer_posix_stat_abi_wrappers.cc
  starboard/shared/modular/cobalt_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_stat_abi_wrappers.h
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_unistd_abi_wrappers.h
  third_party/musl/BUILD.gn
  third_party/musl/src/fcntl/open.c
  third_party/musl/src/starboard/include/bits/syscall.h.in
  third_party/musl/src/starboard/include/syscall_arch.h
  third_party/musl/src/starboard/misc/syscall.c
Due: clang-format, gn-format

Fix type
  starboard/shared/modular/starboard_layer_posix_fcntl_abi_wrappers.cc
Due: clang-format

Rebase refresh on 2026-01-08 for m144.
  DEPS
  ash/strings/ash_strings_fi.xtb
  ash/strings/ash_strings_kn.xtb
  ash/strings/ash_strings_zh-HK.xtb
  chrome/VERSION
  chrome/app/resources/generated_resources_af.xtb
  chrome/app/resources/generated_resources_fi.xtb
  chrome/app/resources/generated_resources_hr.xtb
  chrome/app/resources/generated_resources_kn.xtb
  chrome/app/resources/generated_resources_sw.xtb
  chrome/app/resources/generated_resources_te.xtb
  chrome/app/resources/generated_resources_zh-HK.xtb
  chrome/browser/ui/android/strings/translations/android_chrome_strings_zh-HK.xtb
  chrome/browser/ui/browser_window/internal/browser_window_features.cc
  chrome/build/linux.pgo.txt
  chrome/build/mac-arm.pgo.txt
  chrome/build/mac.pgo.txt
  chrome/build/win32.pgo.txt
  chrome/build/win64.pgo.txt
  chromeos/CHROMEOS_LKGM
  chromeos/strings/chromeos_strings_zh-HK.xtb
  components/browser_ui/strings/android/translations/browser_ui_strings_zh-HK.xtb
  components/permissions/android/translations/permissions_android_strings_kn.xtb
  components/strings/components_strings_hr.xtb
  components/strings/components_strings_kn.xtb
  components/strings/components_strings_pt-BR.xtb
  components/strings/components_strings_zh-HK.xtb
  components/strings/privacy_sandbox_strings_zh-HK.xtb
Due: none

starboard: Refactor FakeGraphicsContextProvider to use JobThread
  starboard/nplb/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/testing/BUILD.gn
  starboard/testing/fake_graphics_context_provider.cc
  starboard/testing/fake_graphics_context_provider.h
Due: clang-format, gn-format

Add functional d_fmt
  cobalt/common/libc/locale/nl_langinfo_support.cc
  starboard/nplb/posix_compliance/posix_locale_langinfo_test.cc
  starboard/nplb/posix_compliance/posix_locale_langinfo_test_data.cc.inc
Due: clang-format

[CI] Add branch name to a sponge label
  .github/actions/internal_tests/action.yaml
  .github/actions/on_device_tests/action.yaml
Due: none

add a test that actually exercises the function
  .github/config/chromium_diffing.json
  third_party/blink/renderer/core/frame/build.gni
  third_party/blink/renderer/core/frame/csp/local_ip.cc
  third_party/blink/renderer/core/frame/csp/local_ip_test.cc
Due: none

Cherry pick PR #8493: [CI] Increase unit test job timeout (#8537)
  cobalt/tools/on_device_tests_gateway_client.py
Due: yapf, pylint, python3-compatibility-check

cobalt/test: Update navigation browser tests and test utilities (#8454)
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browser/test_shell.cc
  cobalt/testing/browser_tests/content_browser_test_utils.cc
  cobalt/testing/browser_tests/content_browser_test_utils.h
  cobalt/testing/browser_tests/content_browser_test_utils_internal.cc
  cobalt/testing/browser_tests/content_browser_test_utils_internal.h
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format, gn-format

Replace System.exit with activity.finishAndRemoveTask
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
Due: gcheckstyle

cobalt/test: Resolve remaining cobalt_browsertests build/run failures (#8455)
  cobalt/shell/android/javatests/AndroidManifest.xml
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browsertests_apk/res/layout/test_activity.xml
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentBrowserTestsActivity.java
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentBrowserTestsApplication.java
  cobalt/testing/browser_tests/browsertests_apk/src/org/chromium/content_browsertests_apk/ContentShellBrowserTestActivity.java
Due: gcheckstyle, gn-format

cobalt/test: Fix and enable disabled browser tests
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format

Fix(cobalt): Restore shell_test_switches and update usages
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/browser/shell_content_browser_test_client.cc
  cobalt/testing/browser_tests/web_contents_delegate_stub.cc
  cobalt/testing/browser_tests/web_contents_delegate_stub.h
Due: clang-format, gn-format

Re-add missing TODO from original Cobalt changes in M114.
  cobalt/testing/browser_tests/navigation_browsertest.cc
Due: clang-format

Remove unused class.
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/web_contents_delegate_stub.cc
  cobalt/testing/browser_tests/web_contents_delegate_stub.h
Due: clang-format, gn-format

Change TestShell subclass ctor for Shell & remove outdated shell_test_switches_lib build deps.
  cobalt/testing/browser_tests/BUILD.gn
Due: gn-format

Remove unnecessary include
  cobalt/testing/browser_tests/browser/shell_content_browser_test_client.cc
Due: clang-format

Refactor Android test view setup and fix permission error
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/shell/android/BUILD.gn
  cobalt/shell/android/java/res/layout/shell_view.xml
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
Due: gcheckstyle, gn-format

Fix AD_ID build config. Previously included the AD_ID in both configs. Now it is only present inside of cobalt/shell and not cobalt browser test manifest.
  cobalt/shell/android/BUILD.gn
Due: gn-format

cobalt/test: Add cobalt_browsertests to Android test targets
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/testing/browser_tests/integration/README.md
  cobalt/testing/browser_tests/integration/__init__.py
  cobalt/testing/browser_tests/integration/run_android_tests.py
  cobalt/testing/browser_tests/integration/run_android_tests_test.py
  cobalt/testing/filters/android-arm/cobalt_browsertests_filter.json
  cobalt/testing/filters/android-arm64/cobalt_browsertests_filter.json
Due: yapf, pylint, python3-compatibility-check

Remove integration scripts, since infra will pivot away from shell commands for running tests.
  cobalt/testing/browser_tests/integration/README.md
  cobalt/testing/browser_tests/integration/__init__.py
  cobalt/testing/browser_tests/integration/run_android_tests.py
  cobalt/testing/browser_tests/integration/run_android_tests_test.py
Due: yapf, pylint, python3-compatibility-check

Rename ExoPlayerWorkerHandler
  starboard/android/shared/BUILD.gn
  starboard/android/shared/exoplayer/exoplayer_bridge.cc
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.cc
  starboard/android/shared/exoplayer/exoplayer_player_worker_handler.h
  starboard/android/shared/exoplayer/exoplayer_util.cc
  starboard/android/shared/player_create.cc
  starboard/extension/feature_config.h
Due: clang-format, gn-format

[starboard][widevine] Fix tvOS compilation errors in Widevine implementation
  starboard/shared/widevine/drm_system_widevine.cc
  starboard/shared/widevine/widevine_storage.cc
  starboard/shared/widevine/widevine_timer.h
Due: clang-format

Pin RDK repo to prep for changes (#8544)
  DEPS
Due: none

Pin RDK repo to prep for changes (#8546)
  DEPS
Due: none

Revert "Pin RDK repo to prep for changes"
  DEPS
Due: none

Move RDK config variables to shared location
  starboard/build/config/linux/rdk/config_variables.gni
Due: gn-format

Create separate fake_graphics_context_provider build target
  starboard/nplb/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/testing/BUILD.gn
Due: gn-format

Refactor: Separate build logic for Cobalt
  cobalt/build/__init__.py
  cobalt/build/gn.py
  cobalt/build/test_gn.py
Due: yapf, pylint, python3-compatibility-check

Docs: Update docstring in cobalt/build/__init__.py
  cobalt/build/__init__.py
  cobalt/build/test_gn.py
Due: yapf, pylint, python3-compatibility-check

Removing batch disable of Pylint errors.
  cobalt/build/test_gn.py
Due: yapf, pylint, python3-compatibility-check

Add browser tests to main chained (#8457)
  cobalt/build/testing/targets/android-arm/test_targets.json
  cobalt/build/testing/targets/android-arm64/test_targets.json
  cobalt/testing/filters/android-arm/cobalt_browsertests_filter.json
  cobalt/testing/filters/android-arm64/cobalt_browsertests_filter.json
Due: none

build: Create separate fake_graphics_context_provider target (#8557)
  starboard/nplb/BUILD.gn
  starboard/shared/starboard/player/filter/testing/BUILD.gn
  starboard/testing/BUILD.gn
Due: gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
