Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Remove old Java file
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/ExoPlayerCodecUtil.java
Due: gcheckstyle

Resolve merge conflicts.
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
Due: clang-format

Add v8_override_state include back.
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
Due: clang-format

[tvOS] Disable AV1 codec support in media pipeline
  cobalt/renderer/cobalt_content_renderer_client.cc
  starboard/shared/starboard/media/mime_util.cc
Due: clang-format

Update starboard/shared/starboard/media/mime_util.cc
  starboard/shared/starboard/media/mime_util.cc
Due: clang-format

Resolve conflicts
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/app/cobalt.cc
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
Due: clang-format, gcheckstyle, gn-format

Reduce commit noise
  cobalt/browser/cobalt_content_browser_client.cc
Due: clang-format

Fix rpath linker error for tvOS
  cobalt/BUILD.gn
Due: gn-format

Fix lint error
  .github/workflows/main.yaml
Due: none

[tvOS] BACKPORT: Prevents forwarding handled events to super.
  content/browser/renderer_host/render_widget_host_view_tvos_uiview.mm
  ui/events/keycodes/keyboard_code_conversion_ios.mm
Due: none

Enable EG leak detector for most archs (#8248)
  .github/workflows/evergreen_26.eap.yaml
Due: none

Fix coding style
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkDownloaderDefaultTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkLoaderTest.java
Due: gcheckstyle

This is a fix for fixing all executable file permissions.
  cobalt/devinfra/kokoro/bin/lint.sh
  cobalt/testing/browser_tests/data/__init__.py
  cobalt/testing/browser_tests/data/update_build_gn.py
  cobalt/testing/browser_tests/data/update_build_gn_test.py
  cobalt/tools/performance/smaps/analyze_smaps_logs.py
  cobalt/tools/performance/smaps/analyze_smaps_logs_test.py
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
  cobalt/tools/uma/interpret_uma_histogram.py
  cobalt/tools/uma/interpret_uma_histogram_test.py
  cobalt/tools/uma/pull_uma_histogram_set_via_cdp.py
  cobalt/tools/uma/pull_uma_histogram_set_via_cdp_test.py
Due: yapf, pylint, python3-compatibility-check

Filter failing unittests
  cobalt/build/configs/initialize_variables.gni
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/blink_platform_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11/cc_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/media_unittests_filter.json
  cobalt/testing/filters/linux-x64x11/nplb_filter.json
  services/service_manager/service_process_launcher.cc
Due: gn-format

This is a fix for fixing all easy Java naming issues with pre-commits. (#8256)
  cobalt/android/apk/app/src/app/java/dev/cobalt/app/CobaltApplication.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/AdvertisingId.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltA11yHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltMediaSession.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/NetworkStatus.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ResourceOverlay.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioOutputManager.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/AudioTrackBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecCapabilitiesLogger.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecUtil.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/VideoFrameReleaseTimeHelper.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/Holder.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/util/SynchronizedHolder.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ShellManagerTest.java
Due: gcheckstyle

Add documentation, refine implementation and address comments
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  starboard/nplb/posix_compliance/posix_locale_set_test.cc
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format

Refine setlocale
  cobalt/common/libc/locale/locale.cc
  starboard/nplb/posix_compliance/posix_locale_set_test.cc
Due: clang-format

Add tests for locale support functions
  cobalt/common/libc/BUILD.gn
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support_test.cc
Due: clang-format, gn-format

Address Gemini Comments
  cobalt/common/libc/locale/locale_support.cc
  cobalt/testing/filters/evergreen-arm-hardfp-raspi/nplb_loader_filter.json
Due: clang-format

Refine/simplify implementation
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: clang-format

[WIP] add locale support to Cobalt
  cobalt/common/libc/locale/locale.cc
Due: clang-format

Functional completeness
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale.h
  cobalt/common/libc/stdlib/environment.cc
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  starboard/nplb/posix_compliance/posix_locale_set_test.cc
Due: clang-format

Add namespace and refine comments
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
Due: clang-format

Split helper functions to own file
  cobalt/common/libc/BUILD.gn
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale.h
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  cobalt/testing/filters/evergreen-arm-hardfp-raspi/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
Due: clang-format, gn-format

Initial Implementation of all locale functions
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale.h
  starboard/nplb/posix_compliance/posix_locale_set_test.cc
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format

Address comments and edge cases
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  cobalt/testing/filters/evergreen-arm-hardfp-raspi/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/raspi-2-modular/nplb_loader_filter.json
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format

Address Comments
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  cobalt/common/libc/locale/locale_support_test.cc
  starboard/nplb/posix_compliance/posix_locale_helpers.cc
Due: clang-format

Change from C-style array to std::array
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
Due: clang-format

Address comments
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkLoaderTest.java
Due: gcheckstyle

This is a fix for fixing all executable file permissions. (#8254)
  cobalt/devinfra/kokoro/bin/lint.sh
  cobalt/testing/browser_tests/data/__init__.py
  cobalt/testing/browser_tests/data/update_build_gn.py
  cobalt/testing/browser_tests/data/update_build_gn_test.py
  cobalt/tools/performance/smaps/analyze_smaps_logs.py
  cobalt/tools/performance/smaps/analyze_smaps_logs_test.py
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
  cobalt/tools/uma/interpret_uma_histogram.py
  cobalt/tools/uma/interpret_uma_histogram_test.py
  cobalt/tools/uma/pull_uma_histogram_set_via_cdp.py
  cobalt/tools/uma/pull_uma_histogram_set_via_cdp_test.py
Due: yapf, pylint, python3-compatibility-check

Add override state include.
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
Due: clang-format

Flatten the logic
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: gcheckstyle

Add tests
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkLoaderTest.java
Due: gcheckstyle

Cherry pick PR #8130: Reland: flush on pause (#8261)
  cobalt/android/apk/app/src/main/java/dev/cobalt/browser/CobaltContentBrowserClient.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/app/cobalt.cc
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
Due: clang-format, gcheckstyle

Add and rename jar files to Android package
  cobalt/build/android/package.json
Due: none

Add and rename jar files to Android package (#8266)
  cobalt/build/android/package.json
Due: none

Remove references to AC4
  cobalt/build/configs/common.gn
  media/BUILD.gn
  media/base/audio_codecs.cc
  media/base/audio_codecs.h
  media/base/audio_codecs_unittest.cc
  media/base/eme_constants.h
  media/base/key_systems.cc
  media/base/mime_util_internal.cc
  media/base/mime_util_internal.h
  media/base/mime_util_unittest.cc
  media/filters/android/media_codec_audio_decoder.cc
  media/filters/stream_parser_factory.cc
  media/formats/mp4/box_definitions.cc
  media/formats/mp4/box_definitions.h
  media/formats/mp4/mp4_stream_parser.cc
  media/media_options.gni
Due: gn-format

This is a fix for fixing all cpp header pre-commit issues. (#8255)
  cobalt/browser/cobalt_browser_main_parts.h
  cobalt/browser/h5vcc_accessibility/h5vcc_accessibility_impl.cc
  cobalt/browser/h5vcc_accessibility/h5vcc_accessibility_impl.h
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.cc
  cobalt/browser/h5vcc_runtime/h5vcc_runtime_impl.h
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl.h
  cobalt/gpu/cobalt_content_gpu_client.cc
  cobalt/gpu/cobalt_content_gpu_client.h
  cobalt/shell/browser/cobalt_views_delegate.h
  starboard/common/allocator.h
  starboard/common/fixed_no_free_allocator.h
  starboard/common/murmurhash2.cc
  starboard/common/murmurhash2.h
  starboard/darwin/includes/EGL/eglplatform.h
  starboard/loader_app/record_loader_app_status.h
  starboard/loader_app/reset_evergreen_update.h
  starboard/raspi/shared/open_max/open_max_video_decode_component.cc
  starboard/raspi/shared/open_max/open_max_video_decode_component.h
  starboard/shared/starboard/media/mime_util.h
Due: clang-format

Actually add filters
  cobalt/testing/filters/linux-x64x11-modular/base_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/blink_platform_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/media_unittests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
Due: none

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
