Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Test PR
  README.md
Due: none

Disable GL calls that are crashing on raspi2 (#7861)
  gpu/command_buffer/service/gl_utils.cc
  gpu/command_buffer/service/gles2_cmd_decoder_passthrough.cc
Due: none

cobalt/tools: Add Linux support for smaps capture
  cobalt/tools/performance/smaps/README.md
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
Due: yapf, pylint, python3-compatibility-check

Fix api_version
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
Due: clang-format

Fix other API's
  third_party/blink/renderer/modules/cobalt/h5vcc_system/h_5_vcc_system.cc
Due: clang-format

Fixes related to compiler errors from registercallbacks
  starboard/linux/shared/ifa.cc
Due: clang-format

Add UnregisterTrackingAuthorizationCallback
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  cobalt/browser/h5vcc_system/h5vcc_system_impl.h
Due: clang-format

Fix: Handle empty pidof output in smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
Due: yapf, pylint, python3-compatibility-check

unregister metrics from experiment config
  cobalt/browser/global_features.cc
Due: clang-format

comment nit
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
Due: clang-format

RDK: Add build documentation (#7503)
  starboard/doc/eap/getting_started.md
  starboard/doc/setup-rdk.md
Due: none

cobalt: Fix codec format (#7877)
  cobalt/shell/embedded_resources/splash.html
Due: none

Colin's comment
  cobalt/precommit/check_java_strings_have_locale.py
Due: yapf, pylint, python3-compatibility-check

Add compression level arg
  .github/actions/upload_test_artifacts/action.yaml
  cobalt/build/archive_test_artifacts.py
Due: yapf, pylint, python3-compatibility-check

Filter another flaky crash
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
Due: none

Fix upload artifacts condition
  .github/actions/build/action.yaml
  .github/workflows/main.yaml
Due: none

Fix path to test package
  .github/actions/upload_test_artifacts/action.yaml
Due: none

Copy test package contents recursively
  .github/actions/upload_test_artifacts/action.yaml
Due: none

ci: Filter JobPerfTest (#7875)
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/base_perftests_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/base_perftests_loader_filter.json
Due: none

fix unit test by initializing clean exit beacon
  cobalt/browser/metrics/cobalt_metrics_services_manager_client_test.cc
Due: clang-format

cobalt/tools: Add Linux support for smaps capture (#7879)
  cobalt/tools/performance/smaps/README.md
  cobalt/tools/performance/smaps/smaps_capture.py
  cobalt/tools/performance/smaps/smaps_capture_test.py
Due: yapf, pylint, python3-compatibility-check

Inject mem pressure signals every 60s after startup
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format

Remove stop during MediaCodec desturction
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
Due: clang-format, gcheckstyle

Forgot an include
  cobalt/browser/cobalt_browser_main_parts.cc
Due: clang-format

media: Conditionally enable DecoderBufferAllocator (#7747)
  media/base/decoder_buffer.h
  media/base/media_client.cc
  media/base/media_client.h
  media/starboard/decoder_buffer_allocator.cc
  media/starboard/decoder_buffer_allocator.h
  media/starboard/decoder_buffer_allocator_test.cc
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/test/run_all_unittests.cc
Due: clang-format

Disable plugins, pdf and printing
  cobalt/build/configs/linux_common.gn
Due: gn-format

squash-merge global-features-connect
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_settings_impl.cc
  cobalt/browser/cobalt_settings_impl.h
  cobalt/browser/mojom/BUILD.gn
  cobalt/browser/mojom/cobalt_settings.mojom
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/renderer_factory_traits.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/base/starboard/starboard_renderer_config_unittest.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/media_service_unittest.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format, gn-format

Gemini comment
  cobalt/browser/mojom/cobalt_settings.mojom
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: clang-format, gn-format

Use mojo
  cobalt/renderer/BUILD.gn
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
Due: clang-format, gn-format

Add comment about Sync
  cobalt/browser/mojom/cobalt_settings.mojom
Due: none

add log
  media/starboard/starboard_renderer.cc
Due: clang-format

Remove blank lines
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: clang-format

Update flag name to Media.DisableExternalAllocator
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: clang-format

Use int value for the flag
  cobalt/renderer/cobalt_content_renderer_client.cc
Due: clang-format

Address comments
  cobalt/browser/mojom/cobalt_settings.mojom
  cobalt/renderer/cobalt_content_renderer_client.cc
  cobalt/renderer/cobalt_content_renderer_client.h
  media/mojo/services/gpu_mojo_media_client.h
  media/starboard/sbplayer_bridge.cc
Due: clang-format

Address comments
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/h5vcc_settings_impl.cc
  cobalt/browser/h5vcc_settings_impl.h
  cobalt/browser/mojom/BUILD.gn
  cobalt/browser/mojom/h5vcc_settings.mojom
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
Due: clang-format, gn-format

Pass whole settings map
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/h5vcc_settings_impl.cc
  cobalt/browser/h5vcc_settings_impl.h
  cobalt/browser/mojom/h5vcc_settings.mojom
  cobalt/renderer/cobalt_content_renderer_client.cc
  media/base/ipc/media_param_traits.cc
  media/base/ipc/media_param_traits.h
  media/base/ipc/media_param_traits_macros.h
  media/base/starboard/renderer_factory_traits.h
  media/base/starboard/starboard_renderer_config.cc
  media/base/starboard/starboard_renderer_config.h
  media/base/starboard/starboard_renderer_config_unittest.cc
  media/mojo/clients/mojo_renderer_factory.h
  media/mojo/clients/starboard/starboard_renderer_client_factory.cc
  media/mojo/clients/starboard/starboard_renderer_client_factory.h
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/media_service_unittest.cc
  media/mojo/services/starboard/starboard_renderer_wrapper.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
  media/starboard/sbplayer_bridge.cc
  media/starboard/sbplayer_bridge.h
  media/starboard/starboard_renderer.cc
  media/starboard/starboard_renderer.h
  media/starboard/starboard_renderer_unittest.cc
Due: clang-format

Minor fix for readability
  media/starboard/starboard_renderer.cc
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
