Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

Add two dictionaries to collect V8 GC event reasons. Only collection so far.
  third_party/blink/renderer/bindings/core/v8/v8_metrics.cc
  third_party/blink/renderer/bindings/core/v8/v8_metrics.h
Due: none

Resolve review comment
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
  cobalt/testing/browser_tests/BUILD.gn
Due: clang-format, gn-format

evergreen: Create the one_app_only test app for YTS EG tests (#8748)
  cobalt/updater/BUILD.gn
  cobalt/updater/one_app_only_sandbox.cc
Due: clang-format, gn-format

Move the comment to a better location
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
Due: none

Squashed commit of the following:
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: clang-format, gn-format

Handle EOS
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/common/string.h
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Remove read from properities
  starboard/android/shared/player_components_factory.cc
Due: clang-format

Address comments
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
Due: clang-format

Address comments
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/player_components_factory.cc
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format

Address comments
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Address comments
  starboard/android/shared/video_decoder.h
Due: clang-format

Address gemini comment
  starboard/android/shared/player_components_factory.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
Due: clang-format

Address comment
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
Due: clang-format

Rename methods names
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

change data structure of frames_in_flight_
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Address other comments
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Remove thread
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Update comments
  starboard/shared/starboard/media/decoder_state_tracker.h
Due: clang-format

use atomic lock
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
Due: clang-format

Remove unused headers
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

update
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
Due: gcheckstyle

more logging to get time_origin
  third_party/blink/renderer/core/cobalt/performance/performance_extensions.cc
  third_party/blink/renderer/core/timing/performance.cc
Due: clang-format

Play splash video from Main app's cache (#8342)
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.cc
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory.h
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory_browsertest.cc
  cobalt/shell/browser/h5vcc_scheme_url_loader_factory_unittest.cc
  cobalt/shell/browser/shell_content_browser_client.cc
  cobalt/shell/common/url_constants.h
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.webm
  cobalt/shell/embedded_resources/loader_embedded_resources/splash_480.webm
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/cobalt_browsertests_runner.sh
Due: clang-format, gn-format

starboard: Refactor JobThread to encapsulate JobQueue
  starboard/shared/libaom/aom_video_decoder.cc
  starboard/shared/libdav1d/dav1d_video_decoder.cc
  starboard/shared/libde265/de265_video_decoder.cc
  starboard/shared/libvpx/vpx_video_decoder.cc
  starboard/shared/openh264/openh264_video_decoder.cc
  starboard/shared/starboard/player/filter/stub_audio_decoder.cc
  starboard/shared/starboard/player/filter/stub_video_decoder.cc
  starboard/shared/starboard/player/filter/tools/audio_dmp_player.cc
  starboard/shared/starboard/player/job_thread.h
  starboard/tvos/shared/media/vp9_sw_av_video_sample_buffer_builder.mm
Due: clang-format

remove unnecessary std::bind
  starboard/shared/starboard/player/filter/tools/audio_dmp_player.cc
Due: clang-format

fix use-after-free
  starboard/shared/starboard/player/filter/tools/audio_dmp_player.cc
Due: clang-format

recover header
  starboard/shared/starboard/player/filter/tools/audio_dmp_player.cc
  starboard/shared/starboard/player/job_thread.h
Due: clang-format

Rebase refresh on 2026-01-25 for m144.
  DEPS
  chrome/VERSION
  chrome/android/profiles/newest.txt
  chrome/browser/contextual_tasks/BUILD.gn
  chrome/browser/contextual_tasks/contextual_tasks_composebox_handler.cc
  chrome/browser/contextual_tasks/contextual_tasks_composebox_handler.h
  chrome/browser/contextual_tasks/contextual_tasks_composebox_handler_unittest.cc
  chrome/browser/contextual_tasks/contextual_tasks_ui.cc
  chrome/browser/contextual_tasks/contextual_tasks_ui.h
  chrome/browser/contextual_tasks/contextual_tasks_ui_service.cc
  chrome/browser/contextual_tasks/contextual_tasks_ui_service.h
  chrome/browser/resources/new_tab_page/app.css
  chrome/browser/ui/webui/new_tab_page/new_tab_page_ui.cc
  chrome/browser/ui/webui/side_panel/customize_chrome/customize_chrome_ui.cc
  chrome/build/linux.pgo.txt
  chrome/build/mac-arm.pgo.txt
  chrome/build/mac.pgo.txt
  chrome/build/win32.pgo.txt
  chrome/build/win64.pgo.txt
  chrome/test/data/webui/new_tab_page/composebox/composebox_test.ts
  chromeos/CHROMEOS_LKGM
  chromeos/profiles/arm.afdo.newest.txt
  chromeos/profiles/atom.afdo.newest.txt
  chromeos/profiles/bigcore.afdo.newest.txt
  ui/webui/resources/cr_components/composebox/composebox.ts
  ui/webui/resources/cr_components/searchbox/searchbox_compose_button.css
Due: none

Fix raspi build
  starboard/raspi/shared/player_components_factory.cc
  starboard/raspi/shared/video_renderer_sink_impl.cc
  starboard/raspi/shared/video_renderer_sink_impl.h
Due: clang-format

Cleanup includes
  starboard/android/shared/audio_decoder.h
  starboard/shared/starboard/player/job_queue.cc
  starboard/shared/starboard/player/job_queue_test.cc
Due: clang-format

Address Gemini comments
  starboard/android/shared/audio_decoder.cc
  starboard/android/shared/audio_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/player/job_queue.h
Due: clang-format

Remove unnecessary SB_CHECK
  starboard/shared/starboard/player/job_queue.cc
Due: clang-format

Address comment
  starboard/shared/widevine/widevine_timer.cc
  starboard/shared/widevine/widevine_timer.h
Due: clang-format

starboard: refactor PlayerComponentsFactory for readability and compile-time safety
  starboard/android/shared/player_components_factory.cc
Due: clang-format

fix test
  starboard/shared/starboard/player/job_queue_test.cc
Due: clang-format

Rebase refresh on 2026-01-26 for m144.
  chrome/VERSION
  chrome/android/profiles/newest.txt
  chrome/build/linux.pgo.txt
  chrome/build/mac-arm.pgo.txt
  chrome/build/mac.pgo.txt
  chrome/build/win32.pgo.txt
  chrome/build/win64.pgo.txt
  chromeos/CHROMEOS_LKGM
  chromeos/profiles/arm.afdo.newest.txt
  components/certificate_transparency/data/log_list.json
  net/http/transport_security_state_static.pins
  net/http/transport_security_state_static_pins.json
Due: none

make it static
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/CobaltActivityTest.java
Due: gcheckstyle

Update renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/BUILD.gn
Due: none

h5vcc: add e2e impl of platform services for 3P (#8685)
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_browser_interface_binders.cc
  cobalt/browser/h5vcc_platform_service/BUILD.gn
  cobalt/browser/h5vcc_platform_service/h5vcc_platform_service_manager_impl.cc
  cobalt/browser/h5vcc_platform_service/h5vcc_platform_service_manager_impl.h
  cobalt/browser/h5vcc_platform_service/platform_service_impl.cc
  cobalt/browser/h5vcc_platform_service/platform_service_impl.h
  cobalt/browser/h5vcc_platform_service/public/mojom/BUILD.gn
  cobalt/browser/h5vcc_platform_service/public/mojom/h5vcc_platform_service.mojom
  starboard/linux/shared/platform_service.cc
  starboard/linux/shared/system_get_extensions.cc
  third_party/blink/renderer/bindings/generated_in_modules.gni
  third_party/blink/renderer/bindings/idl_in_modules.gni
  third_party/blink/renderer/modules/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/BUILD.gn
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.h
  third_party/blink/renderer/modules/cobalt/h5vcc_platform_service/h_5_vcc_platform_service.idl
Due: clang-format, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
