Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)

android: Close all Cobalt services on H5vcc unload (#8108)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, gcheckstyle

feat(ci): Enable crash symbolization
  .github/actions/print_logs/action.yaml
  .github/actions/process_test_results/action.yaml
  .github/workflows/main.yaml
Due: none

test: Add crashing test to cobalt_unittests
  cobalt/browser/global_features_unittest.cc
Due: clang-format

[XB1] Fix D3DX device lost handling
  starboard/shared/uwp/extended_resources_manager.cc
  starboard/shared/uwp/extended_resources_manager.h
  starboard/xb1/shared/egl_context_lost_handler.cc
Due: clang-format

Delete duplicatated declaration
  starboard/common/thread.cc
Due: clang-format

android: Explicitly recycle Bitmaps to prevent native memory accumulation.
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: gcheckstyle

Update starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
Due: clang-format

Update starboard/android/shared/continuous_audio_track_sink.cc
  starboard/android/shared/continuous_audio_track_sink.cc
Due: clang-format

change method to private
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: gcheckstyle

[tvOS] Flatten some leftover namespaces in application_darwin.h
  starboard/tvos/shared/application_darwin.h
Due: clang-format

Run all of Cobalt's custom web tests in CI (#8105)
  .github/actions/web_tests/action.yaml
  third_party/blink/web_tests/TestExpectations
Due: none

remove unnecessary header
  starboard/shared/starboard/player/player_worker.cc
Due: clang-format

Update string checking logic
  starboard/tvos/shared/application_window.mm
Due: none

Revert "change method to private"
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: gcheckstyle

android: Close all Cobalt services on H5vcc unload (#8108) (#8113)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/StarboardBridge.java
  cobalt/browser/h5vcc_system/h5vcc_system_impl.cc
  starboard/android/shared/starboard_bridge.cc
  starboard/android/shared/starboard_bridge.h
Due: clang-format, gcheckstyle

Rename method to clearly signal that input is no longer usable
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkDownloaderDefault.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
Due: gcheckstyle

JNI Zero: Generate method stubs for ForTesting methods
  third_party/jni_zero/jni_generator.py
  third_party/jni_zero/jni_registration_generator.py
  third_party/jni_zero/proxy.py
  third_party/jni_zero/test/golden/testForTestingKeptHash-Placeholder-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-Registration.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-SampleProxyEdgeCasesJni.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-SampleProxyEdgeCases_jni.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Placeholder-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Registration.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-SampleProxyEdgeCasesJni.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-SampleProxyEdgeCases_jni.h.golden
  third_party/jni_zero/test/golden/testForTestingRemovedHash-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedHash-Final-N.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedMultiplexing-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedMultiplexing-Final-N.java.golden
  third_party/jni_zero/test/golden/testPriorityRegistration-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testPriorityRegistration-Final-N.java.golden
  third_party/jni_zero/test/golden/testStubRegistration-Final-GEN_JNI.java.golden
Due: none

[tvOS] Fix obj-c string checking logic (#8040)
  starboard/tvos/shared/application_window.mm
Due: none

starboard: Refactor threading to use starboard::Thread (#8064)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/audio_sink_min_required_frames_tester.cc
  starboard/android/shared/audio_sink_min_required_frames_tester.h
  starboard/android/shared/audio_track_audio_sink_type.cc
  starboard/android/shared/audio_track_audio_sink_type.h
  starboard/android/shared/continuous_audio_track_sink.cc
  starboard/android/shared/continuous_audio_track_sink.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/thread_platform_android.cc
  starboard/common/BUILD.gn
  starboard/common/thread.cc
  starboard/common/thread.h
  starboard/common/thread_platform.h
  starboard/common/thread_platform_base.cc
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/job_thread.h
  starboard/shared/starboard/player/player_worker.cc
  starboard/shared/starboard/player/player_worker.h
Due: clang-format, gn-format

JNI Zero: Generate method stubs for ForTesting methods (#8118)
  third_party/jni_zero/jni_generator.py
  third_party/jni_zero/jni_registration_generator.py
  third_party/jni_zero/proxy.py
  third_party/jni_zero/test/golden/testForTestingKeptHash-Placeholder-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-Registration.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-SampleProxyEdgeCasesJni.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptHash-SampleProxyEdgeCases_jni.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Placeholder-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-Registration.h.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-SampleProxyEdgeCasesJni.java.golden
  third_party/jni_zero/test/golden/testForTestingKeptMultiplexing-SampleProxyEdgeCases_jni.h.golden
  third_party/jni_zero/test/golden/testForTestingRemovedHash-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedHash-Final-N.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedMultiplexing-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testForTestingRemovedMultiplexing-Final-N.java.golden
  third_party/jni_zero/test/golden/testPriorityRegistration-Final-GEN_JNI.java.golden
  third_party/jni_zero/test/golden/testPriorityRegistration-Final-N.java.golden
  third_party/jni_zero/test/golden/testStubRegistration-Final-GEN_JNI.java.golden
Due: none

starboard: Refactor Thread API and NetworkNotifier
  starboard/common/thread.cc
  starboard/common/thread.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/player_worker.cc
Due: clang-format

media: Reshape AndroidOverlayFactoryCB ownership (#8075)
  media/mojo/services/gpu_mojo_media_client.cc
  media/mojo/services/gpu_mojo_media_client.h
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
  media/mojo/services/starboard/starboard_renderer_wrapper_unittest.cc
Due: clang-format

starboard: Refactor Thread API and NetworkNotifier
  starboard/common/thread.cc
  starboard/common/thread.h
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
Due: clang-format

Revert thread refactoring
  starboard/common/thread.cc
  starboard/common/thread.h
  starboard/shared/starboard/player/job_thread.cc
  starboard/shared/starboard/player/player_worker.cc
Due: clang-format

media: Fix AndroidOverlayFactoryCB ownership in GpuMojoMediaClientStarboard
  media/mojo/services/starboard/gpu_mojo_media_client_starboard.cc
Due: clang-format

Remove cached src if the previous run quit abnormally (#8098)
  .github/workflows/main.yaml
Due: none

starboard/linux: Refactor NetworkNotifier to use starboard::Thread
  starboard/shared/linux/system_network_status.cc
  starboard/shared/linux/system_network_status.h
Due: clang-format

fix(ci): Add debug print for matrix.platform in on_host_tests action
  .github/actions/on_host_tests/action.yaml
Due: none

fix(ci): Revert exit 0 and keep debug print for matrix.platform in on_host_tests action
  .github/actions/on_host_tests/action.yaml
Due: none

android: Throttle # of decoded frames in Decoder
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/BUILD.gn
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
  starboard/shared/starboard/media/media_tests.gni
Due: clang-format, gn-format

Gemini comment
  starboard/android/shared/media_codec_bridge.cc
  starboard/android/shared/media_codec_bridge.h
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
Due: clang-format

Use PTS
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Add kill switch
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/media_decoder.h
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Make DecoderStateTracker robust to dropped frames
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Share JobQueue
  starboard/android/shared/media_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format

Read from system prop
  starboard/android/shared/video_decoder.cc
Due: clang-format

Update VideoFrameReleaseCallback
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format

Fix VideoDecoder lifetime issue with WeakPtr
  starboard/android/shared/video_decoder.cc
  starboard/android/shared/video_decoder.h
Due: clang-format

Implement dynamic adaptation for video decoder throttling.
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
Due: clang-format

Implement dynamic adaptation for video decoder throttling and rename methods.
  starboard/android/shared/media_decoder.cc
  starboard/android/shared/video_decoder.cc
  starboard/shared/starboard/media/decoder_state_tracker.cc
  starboard/shared/starboard/media/decoder_state_tracker.h
  starboard/shared/starboard/media/decoder_state_tracker_test.cc
Due: clang-format
