Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

android: Discard no-more-necessary native Bitmaps immediately (#8115)
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkDownloaderDefault.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/ArtworkLoader.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkDownloaderDefaultTest.java
  cobalt/android/apk/app/src/test/java/dev/cobalt/coat/ArtworkLoaderTest.java
Due: gcheckstyle, gn-format

Update cobalt/precommit/run_chromium_presubmits.py
  cobalt/precommit/run_chromium_presubmits.py
Due: yapf, pylint, python3-compatibility-check

Adding new pre-commits to skip to enable Chromium pre-commits.
  cobalt/precommit/run_chromium_presubmits.py
Due: yapf, pylint, python3-compatibility-check

Fix format.
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
Due: clang-format

feat(media): Add critical memory pressure signal before playback
  media/base/media_switches.cc
  media/base/media_switches.h
  media/starboard/starboard_renderer.cc
Due: clang-format

starboard: Make Android's SbThreadGetId use gettid() (#8258)
  starboard/android/shared/BUILD.gn
  starboard/android/shared/thread_get_id.cc
Due: clang-format, gn-format

BACKPORT: [MediaSource] Don't change state for OOM append failures
  media/formats/mp2t/mp2t_stream_parser.cc
  media/formats/mpeg/mpeg_audio_stream_parser_base.cc
  media/formats/webm/webm_stream_parser.cc
Due: none

fix conflict
  starboard/android/shared/BUILD.gn
Due: gn-format

3p: add locale support to Cobalt (#8027)
  cobalt/common/libc/BUILD.gn
  cobalt/common/libc/locale/locale.cc
  cobalt/common/libc/locale/locale_support.cc
  cobalt/common/libc/locale/locale_support.h
  cobalt/common/libc/locale/locale_support_test.cc
  cobalt/common/libc/stdlib/environment.cc
  cobalt/testing/filters/evergreen-arm-hardfp-raspi/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-arm-hardfp-rdk/nplb_loader_filter.json
  cobalt/testing/filters/evergreen-x64/nplb_loader_filter.json
  cobalt/testing/filters/linux-x64x11-modular/nplb_loader_filter.json
  cobalt/testing/filters/raspi-2-modular/nplb_loader_filter.json
  starboard/nplb/posix_compliance/posix_locale_helpers.cc
  starboard/nplb/posix_compliance/posix_locale_set_test.cc
  starboard/nplb/posix_compliance/posix_locale_thread_test.cc
Due: clang-format, gn-format

Adding new pre-commits to skip to enable Chromium pre-commits. (#8269)
  cobalt/precommit/run_chromium_presubmits.py
Due: yapf, pylint, python3-compatibility-check

Enable in-memory update (#8161)
  cobalt/updater/network_fetcher.cc
  cobalt/updater/network_fetcher.h
  components/crx_file/crx_verifier.cc
  components/crx_file/crx_verifier.h
  components/update_client/component.cc
  components/update_client/component_patcher_operation.cc
  components/update_client/component_unpacker.cc
  components/update_client/component_unpacker.h
  components/update_client/crx_downloader.cc
  components/update_client/crx_downloader.h
  components/update_client/network.h
  components/update_client/unzipper.h
  components/update_client/url_fetcher_downloader.cc
  components/update_client/url_fetcher_downloader.h
  services/network/public/cpp/simple_url_loader.h
  starboard/evergreen/shared/platform_configuration/BUILD.gn
  third_party/zlib/google/zip.cc
  third_party/zlib/google/zip.h
Due: clang-format, gn-format

Move Android snapshot logic to packaging
  cobalt/build/android/package.json
Due: none

feat(media): Add critical memory pressure signal before playback (#8240)
  media/base/media_switches.cc
  media/base/media_switches.h
  media/starboard/starboard_renderer.cc
Due: clang-format

ci: Retry depot tools setup without cache upon failure
  .github/actions/depot_tools/action.yaml
  .github/workflows/main.yaml
Due: none

Disable depot tools self-update everywhere
  .github/workflows/main.yaml
Due: none

Move Android snapshot logic to packaging (#8245)
  cobalt/build/android/package.json
Due: none

Cherry pick PR #7678: Change getFeature to async (#8171)
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.cc
  cobalt/browser/h5vcc_experiments/h5vcc_experiments_impl.h
  cobalt/browser/h5vcc_experiments/public/mojom/h5vcc_experiments.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.h
  third_party/blink/renderer/modules/cobalt/h5vcc_experiments/h_5_vcc_experiments.idl
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-getFeature.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-setExperimentState.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/h5vcc-experiments-setLatestExperimentConfigHashData.https.any.js
  third_party/blink/web_tests/wpt_internal/cobalt/h5vcc-experiments/resources/mock-h5vcc-experiments.js
Due: clang-format

feat: Use android-arm tests for android-x86 coverage and fix pylint issues
  cobalt/tools/code_coverage/establish_coverage_baseline.py
  cobalt/tools/code_coverage/establish_coverage_baseline_test.py
Due: yapf, pylint, python3-compatibility-check

fix: Correct test_targets.json path construction
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Update test target parsing logic
  cobalt/tools/code_coverage/establish_coverage_baseline.py
  cobalt/tools/code_coverage/establish_coverage_baseline_test.py
Due: yapf, pylint, python3-compatibility-check

test: Add comprehensive tests for edge cases
  cobalt/tools/code_coverage/establish_coverage_baseline_test.py
Due: yapf, pylint, python3-compatibility-check

feat: Add --verbose flag for debug output
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Add timing to build and test steps
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Add detailed pass/fail logging
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Improve Android platform detection in coverage script
  tools/code_coverage/coverage.py
Due: none

refactor: Remove --run argument from test command
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Correctly locate coverage.lcov after each test
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Modularize coverage script for skippable steps and single test runs
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Print coverage.py command before execution
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Add --skip-all-pre-processing flag
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

refactor: Remove build logic from coverage script
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Correctly locate coverage.lcov files for merging
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Add ignore-errors to lcov merge command
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

fix: Correct lcov command call in merge_lcov_files
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Add descriptive print statements for executed commands
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

feat: Consolidate output to single coverage.lcov and remove HTML report generation
  cobalt/tools/code_coverage/establish_coverage_baseline.py
Due: yapf, pylint, python3-compatibility-check

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
