Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)

Productionize cobalt_browsertests and make test suite run in current CI (#8673)
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/app/shell_main_test_delegate.cc
  cobalt/testing/browser_tests/app/shell_main_test_delegate.h
  cobalt/testing/browser_tests/cobalt_browsertests_runner.sh
  cobalt/testing/browser_tests/gpu/shell_content_gpu_test_client.cc
  cobalt/testing/browser_tests/gpu/shell_content_gpu_test_client.h
  cobalt/testing/browser_tests/renderer/shell_content_renderer_test_client.cc
  cobalt/testing/browser_tests/renderer/shell_content_renderer_test_client.h
  cobalt/testing/filters/linux-x64x11/cobalt_browsertests_runner_filter.json
Due: clang-format, gn-format

Disable enable_media_remoting_rpc (#8263)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Optimize condition signaling in pthread_impl.h
  third_party/musl/src/internal/pthread_impl.h
Due: none

Revert "Enable Crashpad for hang detection and upload on Android TV (#8540)"
  base/threading/hang_watcher.cc
  base/threading/hang_watcher.h
  cobalt/BUILD.gn
  cobalt/android/BUILD.gn
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_crash_reporter_client.h
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/browser/BUILD.gn
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/hang_watcher_delegate_impl.cc
  cobalt/browser/hang_watcher_delegate_impl.h
  cobalt/build/android/package.json
  cobalt/shell/BUILD.gn
  components/crash/core/app/crashpad_android.cc
  third_party/crashpad/crashpad/util/net/http_transport_socket.cc
  third_party/crashpad/crashpad/util/net/tls.gni
Due: clang-format, gn-format

Switch back to python test runner
  cobalt/testing/browser_tests/BUILD.gn
  cobalt/testing/browser_tests/run_browser_tests.py
Due: yapf, pylint, python3-compatibility-check, gn-format

3p: Refactor thread_local buffer for nl_langinfo
  cobalt/common/libc/locale/locale.cc
Due: clang-format

Address feedback
  DEPS
Due: none

Add 480 webm
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
  cobalt/shell/embedded_resources/loader_embedded_resources/splash_480.webm
Due: none

Revert "Enable Crashpad for hang detection and upload on Android TV" (#8716)
  base/threading/hang_watcher.cc
  base/threading/hang_watcher.h
  cobalt/BUILD.gn
  cobalt/android/BUILD.gn
  cobalt/app/cobalt_crash_reporter_client.cc
  cobalt/app/cobalt_crash_reporter_client.h
  cobalt/app/cobalt_main_delegate.cc
  cobalt/app/cobalt_main_delegate.h
  cobalt/browser/BUILD.gn
  cobalt/browser/global_features.cc
  cobalt/browser/global_features.h
  cobalt/browser/hang_watcher_delegate_impl.cc
  cobalt/browser/hang_watcher_delegate_impl.h
  cobalt/build/android/package.json
  cobalt/shell/BUILD.gn
  components/crash/core/app/crashpad_android.cc
  third_party/crashpad/crashpad/util/net/http_transport_socket.cc
  third_party/crashpad/crashpad/util/net/tls.gni
Due: clang-format, gn-format

tvOS: Remove unused dependency on //ui/shell_dialogs (#8613)
  cobalt/shell/BUILD.gn
Due: gn-format

tvOS: Fix web contents rendering after #8283 (#8566)
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: clang-format

Remove gitignore
  starboard/.gitignore
Due: none

Stub out content settings/browser
  components/content_settings/browser/BUILD.gn
Due: none

Dropped mojo dep
  components/content_settings/browser/BUILD.gn
Due: none

android: prevent unnecessary webContents reload from connectivity detector (#8707)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltConnectivityDetector.java
Due: gcheckstyle

Remove rdk from starboard/.gitignore
  starboard/.gitignore
Due: none

Remove testonly flag for chrobalt (#8636)
  cobalt/BUILD.gn
  cobalt/android/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/renderer/BUILD.gn
  cobalt/shell/BUILD.gn
  cobalt/shell/android/BUILD.gn
  starboard/tools/api_leak_detector/evergreen/dev_manifest
Due: gn-format

3p: Refactor thread_local buffer for nl_langinfo (#8718)
  cobalt/common/libc/locale/locale.cc
Due: clang-format

Fix deadlock in fflush() for stdout/stderr/stdin (#8568)
  third_party/musl/src/internal/pthread_impl.h
Due: none

Cherry pick PR #8263: Disable enable_media_remoting_rpc (#8715)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Enable v8 snapshot compression (#8334)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Revert "Enable Evergreen sideloading" (#8703)
  chrome/updater/configurator.cc
  chrome/updater/updater_module.cc
  cobalt/h5vcc/h5vcc_updater.cc
  starboard/configuration.h
Due: clang-format

starboard: Refactor FakeGraphicsContextProvider to use starboard::Thread (#8684)
  starboard/testing/fake_graphics_context_provider.cc
  starboard/testing/fake_graphics_context_provider.h
Due: clang-format

Cherry pick PR #8707: android: prevent unnecessary webContents reload from connectivity detector (#8720)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltConnectivityDetector.java
Due: gcheckstyle

Cherry pick PR #8334: Enable v8 snapshot compression (#8719)
  cobalt/build/configs/linux_common.gn
Due: gn-format

Remove libdav1d from WebRTC (#8466)
  cobalt/build/configs/common.gn
  cobalt/build/configs/linux_common.gn
Due: gn-format

Cherry pick PR #8466: Remove libdav1d from WebRTC (#8681)
  cobalt/build/configs/common.gn
  cobalt/build/configs/linux_common.gn
Due: gn-format

Cherry pick PR #8526: Fix string copies in the wrappers (#8702)
  starboard/common/BUILD.gn
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_uname_abi_wrappers.cc
Due: clang-format, gn-format

Fix string copies in the wrappers (#8526)
  starboard/common/BUILD.gn
  starboard/shared/modular/starboard_layer_posix_directory_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_socket_abi_wrappers.cc
  starboard/shared/modular/starboard_layer_posix_uname_abi_wrappers.cc
Due: clang-format, gn-format

Nolibvpx (#8468)
  third_party/blink/renderer/modules/mediarecorder/BUILD.gn
  third_party/blink/renderer/modules/mediarecorder/video_track_recorder.cc
  third_party/libvpx/source/libvpx/vpx_ports/internal_encoder_factory_starboard_stub.cc
  third_party/webrtc/media/BUILD.gn
  third_party/webrtc/media/engine/internal_decoder_factory.cc
  third_party/webrtc/rtc_tools/BUILD.gn
  third_party/webrtc/rtc_tools/rtp_generator/rtp_generator.cc
  third_party/webrtc/test/BUILD.gn
  third_party/webrtc/test/testsupport/ivf_video_frame_generator.cc
Due: none

Nolibvpx (#8468)
  third_party/blink/renderer/modules/mediarecorder/BUILD.gn
  third_party/blink/renderer/modules/mediarecorder/video_track_recorder.cc
  third_party/webrtc/media/BUILD.gn
  third_party/webrtc/media/engine/internal_decoder_factory.cc
  third_party/webrtc/media/engine/internal_encoder_factory_starboard_stub.cc
  third_party/webrtc/rtc_tools/BUILD.gn
  third_party/webrtc/rtc_tools/rtp_generator/rtp_generator.cc
  third_party/webrtc/test/BUILD.gn
  third_party/webrtc/test/testsupport/ivf_video_frame_generator.cc
Due: none

Add script to update RDK repo
  starboard/contrib/rdk/src/third_party/starboard/rdk/shared/tools/update_rdk_upstream_from_cobalt_rdk_subrepo.sh
Due: none

Fix tvOS compilation errors in Widevine porting (2/n)
  starboard/shared/widevine/drm_system_widevine.h
Due: clang-format

[tvos] Add com.widevine.alpha key system support
  starboard/tvos/shared/media_is_supported.mm
Due: none

Update starboard/tvos/shared/media_is_supported.mm
  starboard/tvos/shared/media_is_supported.mm
Due: none

Rebase refresh on 2026-01-19 for m144.
  chrome/VERSION
  chrome/build/linux.pgo.txt
  chrome/build/mac-arm.pgo.txt
  chrome/build/mac.pgo.txt
  chrome/build/win32.pgo.txt
  chrome/build/win64.pgo.txt
  chromeos/CHROMEOS_LKGM
  chromeos/profiles/bigcore.afdo.newest.txt
  components/certificate_transparency/data/log_list.json
  net/http/transport_security_state_static.pins
  net/http/transport_security_state_static_pins.json
Due: none
