Repository youtube/cobalt: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, yapf, pylint, python3-compatibility-check, google-java-format, gcheckstyle, gn-format

clang-format:
  name: clang-format
  entry: clang-format
  language: python
  args:
  - -i
  - -style=file
  additional_dependencies:
  - clang-format==17.0.1

yapf:
  name: yapf
  entry: yapf
  language: python
  args:
  - -i
  - -vv
  additional_dependencies:
  - yapf==0.40.2

pylint:
  name: pylint
  entry: pylint
  language: python
  args:
  - -d W0201
  additional_dependencies:
  - pylint==3.3.1

python3-compatibility-check:
  name: Python 3 Compatibility Check
  entry: python3 ./cobalt/precommit/python3_check.py
  language: python

google-java-format:
  name: google-java-format
  entry: python3 ./cobalt/precommit/google_java_format_wrapper.py
  language: python
  args:
  - -i

gcheckstyle:
  name: gcheckstyle
  entry: python3 ./cobalt/precommit/gcheckstyle_wrapper.py
  language: python

gn-format:
  name: gn-format
  entry: gn format
  language: system

cobalt: parallelize loading web contents during app startup
  cobalt/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/BUILD.gn
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/shell/browser/shell_platform_delegate_aura.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/splash_screen_unittest.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.h
  cobalt/shell/browser/splash_screen_web_contents_observer.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.h
  cobalt/shell/common/shell_switches.cc
  cobalt/shell/common/shell_switches.h
  content/browser/BUILD.gn
Due: clang-format, gcheckstyle, gn-format

Reland "Cherry pick PR #8296: cobalt: Consolidate WebContents logic into Shell #8351" (#8460)
  cobalt/BUILD.gn
  cobalt/android/oom_intervention/BUILD.gn
  cobalt/browser/BUILD.gn
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/browser/cobalt_content_browser_client.h
  cobalt/browser/cobalt_web_contents_delegate.cc
  cobalt/browser/cobalt_web_contents_delegate.h
  cobalt/browser/cobalt_web_contents_observer.cc
  cobalt/browser/cobalt_web_contents_observer.h
  cobalt/shell/BUILD.gn
  cobalt/shell/browser/migrate_storage_record/BUILD.gn
  cobalt/shell/browser/migrate_storage_record/migration_manager.cc
  cobalt/shell/browser/migrate_storage_record/migration_manager.h
  cobalt/shell/browser/migrate_storage_record/migration_manager_unittest.cc
  cobalt/shell/browser/migrate_storage_record/storage.proto
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/embedded_resources/cobalt_java_script_polyfill/h5vcc_platform_service_on_java_bridge.js
  cobalt/shell/embedded_resources/cobalt_java_script_polyfill/html_media_element_extension_on_java_bridge.js
  cobalt/shell/embedded_resources/loader_embedded_resources/splash.html
Due: clang-format, gn-format

Revert native splash screen prototype (#8379)
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/common/url_constants.h
Due: clang-format, gcheckstyle

cobalt: Parallelize web contents load at startup (#8283)
  cobalt/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/app/cobalt_switch_defaults_starboard_test.cc
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/BUILD.gn
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/shell/browser/shell_platform_delegate_aura.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/splash_screen_unittest.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.h
  cobalt/shell/browser/splash_screen_web_contents_observer.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.h
  cobalt/shell/common/shell_switches.cc
  cobalt/shell/common/shell_switches.h
  content/browser/BUILD.gn
Due: clang-format, gcheckstyle, gn-format

cobalt: Parallelize web contents load at startup (#8283)
  cobalt/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltActivity.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/coat/CobaltService.java
  cobalt/browser/cobalt_content_browser_client.cc
  cobalt/shell/BUILD.gn
  cobalt/shell/android/java/src/dev/cobalt/shell/Shell.java
  cobalt/shell/android/java/src/dev/cobalt/shell/ShellManager.java
  cobalt/shell/android/shell_apk/AndroidManifest.xml.jinja2
  cobalt/shell/android/shell_manager.cc
  cobalt/shell/browser/shell.cc
  cobalt/shell/browser/shell.h
  cobalt/shell/browser/shell_browser_main_parts.cc
  cobalt/shell/browser/shell_platform_delegate.h
  cobalt/shell/browser/shell_platform_delegate_android.cc
  cobalt/shell/browser/shell_platform_delegate_aura.cc
  cobalt/shell/browser/shell_platform_delegate_ios.mm
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/splash_screen_unittest.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.cc
  cobalt/shell/browser/splash_screen_web_contents_delegate.h
  cobalt/shell/browser/splash_screen_web_contents_observer.cc
  cobalt/shell/browser/splash_screen_web_contents_observer.h
  cobalt/shell/common/shell_switches.cc
  cobalt/shell/common/shell_switches.h
  cobalt/testing/browser_tests/shell/test_shell.cc
  content/browser/BUILD.gn
Due: clang-format, gcheckstyle, gn-format

tvOS: Port --content-shell-hide-toolbar support from content shell
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: none

Remove `headerHeightConstraint`
  cobalt/shell/browser/shell_platform_delegate_ios.mm
Due: none

[WIP] Add base feature support to Cobalt java code
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/CobaltFeatureList.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/java_templates/CobaltFeatures.java.tmpl
  cobalt/common/features/BUILD.gn
  cobalt/common/features/cobalt_feature_list.cc
  cobalt/common/features/cobalt_features.cc
  cobalt/common/features/cobalt_features.h
Due: clang-format, gcheckstyle, gn-format

Refactor JNI
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/CobaltFeatureList.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/java_templates/CobaltFeatures.java.tmpl
  cobalt/common/features/BUILD.gn
  cobalt/common/features/cobalt_feature_list.cc
  cobalt/common/features/cobalt_features.cc
  cobalt/common/features/cobalt_features.h
Due: clang-format, gcheckstyle, gn-format

Change implementation to starboard feature
  build/android/gyp/java_cpp_features.py
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/CobaltFeatureList.java
  cobalt/common/features/BUILD.gn
  cobalt/common/features/cobalt_feature_list.cc
  cobalt/common/features/cobalt_features.cc
  cobalt/common/features/cobalt_features.h
  starboard/android/shared/BUILD.gn
  starboard/extension/BUILD.gn
  starboard/extension/feature_config.h
Due: clang-format, gcheckstyle, gn-format

Move exposure to Starboard
  cobalt/android/BUILD.gn
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/CobaltFeatureList.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/StarboardFeatureList.java
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  cobalt/android/java_templates/StarboardFeatures.java.tmpl
  cobalt/common/features/BUILD.gn
  cobalt/common/features/cobalt_feature_list.cc
  starboard/android/shared/BUILD.gn
  starboard/android/shared/starboard_feature_list.cc
Due: clang-format, gcheckstyle, gn-format

Skeleton implementation for remaining updater APIs
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.cc
  cobalt/browser/h5vcc_updater/h5vcc_updater_impl.h
  cobalt/browser/h5vcc_updater/public/mojom/h5vcc_updater.mojom
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.cc
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.h
  third_party/blink/renderer/modules/cobalt/h5vcc_updater/h_5_vcc_updater.idl
Due: clang-format

Simplify java feature retrieval
  cobalt/android/apk/app/src/main/java/dev/cobalt/media/MediaCodecBridge.java
  starboard/android/shared/starboard_feature_list.cc
  starboard/extension/feature_config.h
  starboard/shared/starboard/feature_list.cc
  starboard/shared/starboard/feature_list.h
Due: clang-format, gcheckstyle

Address gemini comments
  cobalt/android/apk/app/src/main/java/dev/cobalt/features/StarboardFeatureList.java
  starboard/android/shared/starboard_feature_list.cc
Due: clang-format, gcheckstyle

Add a simple check for the presence of upstream branches for labelled triggers. (#8496)
  .github/workflows/diff_chromium_branches.yaml
Due: none

Got tsts working yay
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility.h
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility_test.cc
Due: clang-format

Moved |h5vcc_accessibility_| to a member variable ISO initializating it in each test case
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility_test.cc
Due: clang-format

Forget that last bit
  third_party/blink/renderer/modules/cobalt/h5vcc_accessibility/h_5_vcc_accessibility_test.cc
Due: clang-format

Run clang-format on all files
  starboard/common/murmurhash2.cc
Due: clang-format

Fix merge conflict file
  starboard/common/murmurhash2.cc
Due: clang-format

Batch 1: Move related headers and override clang-format
  cobalt/shell/browser/shell_platform_delegate_aura.cc
  cobalt/shell/browser/shell_platform_delegate_views.cc
  cobalt/shell/browser/shell_web_contents_view_delegate_views.cc
  media/base/starboard/demuxer_memory_limit_starboard.cc
  starboard/android/shared/accessibility_get_display_settings.cc
  starboard/android/shared/accessibility_set_captions_enabled.cc
  starboard/android/shared/audio_sink_get_min_buffer_size_in_frames.cc
  starboard/android/shared/audio_sink_get_nearest_supported_sample_frequency.cc
  starboard/android/shared/drm_create_system.cc
  starboard/android/shared/drm_system.h
Due: clang-format

Batch 2: Move related headers and override clang-format
  starboard/android/shared/log_flush.cc
  starboard/android/shared/media_get_audio_configuration.cc
  starboard/android/shared/media_is_audio_supported.cc
  starboard/android/shared/media_is_supported.cc
  starboard/android/shared/media_is_video_supported.cc
  starboard/android/shared/microphone_impl.cc
  starboard/android/shared/player_create.cc
  starboard/android/shared/player_destroy.cc
  starboard/android/shared/player_get_preferred_output_mode.cc
  starboard/android/shared/player_set_bounds.cc
Due: clang-format

Batch 3: Move related headers and override clang-format
  starboard/android/shared/player_set_playback_rate.cc
  starboard/android/shared/posix_emu/dirent.cc
  starboard/android/shared/posix_emu/pthread.cc
  starboard/android/shared/runtime_resource_overlay.cc
  starboard/android/shared/speech_synthesis_cancel.cc
  starboard/android/shared/speech_synthesis_speak.cc
  starboard/android/shared/system_get_extensions.cc
  starboard/android/shared/system_get_locale_id.cc
  starboard/android/shared/system_get_path.cc
  starboard/android/shared/system_get_property.cc
Due: clang-format

Batch 4: Move related headers and override clang-format
  starboard/android/shared/system_has_capability.cc
  starboard/android/shared/system_platform_error.cc
  starboard/android/shared/system_request_conceal.cc
  starboard/android/shared/system_request_freeze_no_freezedone_callback.cc
  starboard/android/shared/system_request_stop.cc
  starboard/android/shared/thread_create_priority.cc
  starboard/android/shared/time_zone_get_name.cc
  starboard/android/shared/window_destroy.cc
  starboard/android/shared/window_get_platform_handle.cc
  starboard/linux/shared/drm_create_system.cc
Due: clang-format

Batch 5: Move related headers and override clang-format
  starboard/linux/shared/media_is_audio_supported.cc
  starboard/linux/shared/media_is_video_supported.cc
  starboard/linux/shared/system_get_path.cc
  starboard/linux/shared/system_has_capability.cc
  starboard/linux/x64x11/skia/system_get_extensions.cc
  starboard/linux/x64x11/system_get_property.cc
  starboard/raspi/2/skia/system_get_extensions.cc
  starboard/raspi/shared/media_is_video_supported.cc
  starboard/raspi/shared/open_max/decode_target_internal.h
  starboard/raspi/shared/open_max/decode_target_release.cc
Due: clang-format

Batch 6: Move related headers and override clang-format
  starboard/raspi/shared/system_get_property.cc
  starboard/raspi/shared/thread_create_priority.cc
  starboard/raspi/shared/window_create.cc
  starboard/raspi/shared/window_destroy.cc
  starboard/raspi/shared/window_get_platform_handle.cc
  starboard/raspi/shared/window_get_size.cc
  starboard/shared/enhanced_audio/player_write_samples_checked.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_audio_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_dynamic_load_video_decoder_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_audio_decoder_impl.cc
Due: clang-format

Batch 8: Move related headers and override clang-format
  starboard/shared/posix/log_raw.cc
  starboard/shared/posix/storage_write_record.cc
  starboard/shared/posix/system_break_into_debugger.cc
  starboard/shared/posix/system_clear_last_error.cc
  starboard/shared/posix/system_get_last_error.cc
  starboard/shared/posix/system_get_locale_id.cc
  starboard/shared/posix/system_get_number_of_processors.cc
  starboard/shared/pthread/thread_context_get_pointer.cc
  starboard/shared/signal/crash_signals_sigaction.cc
  starboard/shared/signal/system_request_conceal.cc
Due: clang-format

Batch 7: Move related headers and override clang-format
  starboard/shared/ffmpeg/ffmpeg_linked_dispatch_impl.cc
  starboard/shared/ffmpeg/ffmpeg_linked_video_decoder_impl.cc
  starboard/shared/linux/system_get_random_data.cc
  starboard/shared/linux/system_get_total_cpu_memory.cc
  starboard/shared/linux/system_get_used_cpu_memory.cc
  starboard/shared/linux/system_is_debugger_attached.cc
  starboard/shared/linux/thread_get_id.cc
  starboard/shared/posix/file_atomic_replace.cc
  starboard/shared/posix/log_flush.cc
  starboard/shared/posix/log_format.cc
Due: clang-format

Batch 9: Move related headers and override clang-format
  starboard/shared/signal/system_request_freeze.cc
  starboard/shared/speechd/speech_synthesis_cancel.cc
  starboard/shared/speechd/speech_synthesis_speak.cc
  starboard/shared/starboard/audio_sink/audio_sink_create.cc
  starboard/shared/starboard/audio_sink/audio_sink_destroy.cc
  starboard/shared/starboard/audio_sink/audio_sink_get_min_buffer_size_in_frames.cc
  starboard/shared/starboard/audio_sink/audio_sink_get_nearest_supported_sample_frequency.cc
  starboard/shared/starboard/audio_sink/audio_sink_internal.h
  starboard/shared/starboard/audio_sink/audio_sink_is_valid.cc
  starboard/shared/starboard/decode_target/decode_target_get_info.cc
Due: clang-format

Batch 10: Move related headers and override clang-format
  starboard/shared/starboard/decode_target/decode_target_internal.h
  starboard/shared/starboard/decode_target/decode_target_release.cc
  starboard/shared/starboard/drm/drm_close_session.cc
  starboard/shared/starboard/drm/drm_destroy_system.cc
  starboard/shared/starboard/drm/drm_generate_session_update_request.cc
  starboard/shared/starboard/drm/drm_get_metrics.cc
  starboard/shared/starboard/drm/drm_is_server_certificate_updatable.cc
  starboard/shared/starboard/drm/drm_update_server_certificate.cc
  starboard/shared/starboard/drm/drm_update_session.cc
  starboard/shared/starboard/event_cancel.cc
Due: clang-format

Batch 11: Move related headers and override clang-format
  starboard/shared/starboard/event_schedule.cc
  starboard/shared/starboard/file_storage/storage_close_record.cc
  starboard/shared/starboard/file_storage/storage_delete_record.cc
  starboard/shared/starboard/file_storage/storage_get_record_size.cc
  starboard/shared/starboard/file_storage/storage_open_record.cc
  starboard/shared/starboard/file_storage/storage_read_record.cc
  starboard/shared/starboard/log_raw_format.cc
  starboard/shared/starboard/media/media_get_audio_configuration.cc
  starboard/shared/starboard/media/media_is_audio_supported_aac_and_opus.cc
  starboard/shared/starboard/media/media_is_audio_supported_aac_only.cc
Due: clang-format

Batch 12: Move related headers and override clang-format
  starboard/shared/starboard/microphone/microphone_close.cc
  starboard/shared/starboard/microphone/microphone_create.cc
  starboard/shared/starboard/microphone/microphone_destroy.cc
  starboard/shared/starboard/microphone/microphone_get_available.cc
  starboard/shared/starboard/microphone/microphone_is_sample_rate_supported.cc
  starboard/shared/starboard/microphone/microphone_open.cc
  starboard/shared/starboard/microphone/microphone_read.cc
Due: clang-format

Batch 14: Move related headers and override clang-format
  starboard/shared/starboard/player/player_write_samples.cc
  starboard/shared/starboard/system_request_blur.cc
  starboard/shared/starboard/system_request_conceal.cc
  starboard/shared/starboard/system_request_focus.cc
  starboard/shared/starboard/system_request_freeze.cc
  starboard/shared/starboard/system_request_reveal.cc
  starboard/shared/starboard/system_request_stop.cc
  starboard/shared/starboard/window_set_default_options.cc
Due: clang-format

Batch 13: Move related headers and override clang-format
  starboard/shared/starboard/player/filter/audio_channel_layout_mixer_impl.cc
  starboard/shared/starboard/player/filter/audio_resampler_impl.cc
  starboard/shared/starboard/player/filter/mock_audio_renderer_sink.h
  starboard/shared/starboard/player/filter/testing/audio_decoder_benchmark.cc
  starboard/shared/starboard/player/player_destroy.cc
  starboard/shared/starboard/player/player_get_audio_configuration.cc
  starboard/shared/starboard/player/player_get_current_frame.cc
  starboard/shared/starboard/player/player_get_info.cc
  starboard/shared/starboard/player/player_get_preferred_output_mode_prefer_punchout.cc
  starboard/shared/starboard/player/player_seek.cc
  starboard/shared/starboard/player/player_set_bounds.cc
  starboard/shared/starboard/player/player_set_playback_rate.cc
  starboard/shared/starboard/player/player_set_volume.cc
  starboard/shared/starboard/player/player_write_end_of_stream.cc
Due: clang-format

Batch 16: Move related headers and override clang-format
  starboard/shared/x11/window_get_platform_handle.cc
  starboard/shared/x11/window_get_size.cc
  starboard/stub/system_get_extensions.cc
  third_party/blink/renderer/platform/fonts/starboard/font_cache_starboard.cc
  third_party/blink/renderer/platform/fonts/starboard/font_unique_name_lookup_starboard.cc
  ui/events/keycodes/cobalt/keyboard_code_conversion_android_cobalt.cc
  ui/events/keycodes/cobalt/keyboard_code_conversion_cobalt_unittest.cc
Due: clang-format

Batch 15: Move related headers and override clang-format
  starboard/shared/stub/media_is_audio_supported.cc
  starboard/shared/stub/media_is_supported.cc
  starboard/shared/stub/media_is_video_supported.cc
  starboard/shared/stub/player_create.cc
  starboard/shared/stub/player_get_preferred_output_mode.cc
  starboard/shared/stub/system_raise_platform_error.cc
  starboard/shared/widevine/drm_create_system.cc
  starboard/shared/widevine/media_is_supported.cc
  starboard/shared/x11/player_set_bounds.cc
  starboard/shared/x11/window_create.cc
  starboard/shared/x11/window_destroy.cc
Due: clang-format

Update cobalt/browser/performance/startup_time.h
  cobalt/browser/performance/startup_time.h
Due: clang-format

Path conditions:
  clang-format: any of: \.(cc|cpp|cxx|h|hh|hpp|hxx)$ and not ((?x)(
    ^starboard/shared/uikit/accessibility_extension.cc$|
    ^starboard/shared/uikit/player_configuration.cc$
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  yapf: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  pylint: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  python3-compatibility-check: any of: \.py$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  google-java-format: any of: \.java$ and not ((?x)^(
    starboard/|
    cobalt/
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gcheckstyle: any of: \.java$ and not ((?x)^(
    starboard/android/apk/app/src/main/java/dev/cobalt/storage/StorageProto.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Util.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/Shell.java|
    cobalt/android/apk/app/src/org/chromium/content_shell/ShellManager.java
)
) and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
  gn-format: any of: .*\.gni?$ and (?x)^(
    (.*/)?cobalt/.*|
    (.*/)?starboard/.*|
    .github/.*|
    .pre-commit-config.yaml|
    .pylintrc|
    docker-compose.yaml|
)$
 and not ((?x)^(
    (
        starboard/contrib/RDK|
    )/
)
)
